<!DOCTYPE html>
<html>
	<head>
	  <title>Read'icious</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<div id="wrapper">
			<!-- Header -->
			<div id="header">
				<!-- Logo -->
				<a id="logo" href= "/", ><img id="logo" src="/assets/boy.bmp" alt="Read'icious Logo"></a>
				<!-- Webpage Name -->
				<p>Read'icious!</p>
			</div>

			<!-- Main Content -->
			<div id="main">
				<%- if current_page?(root_path) %>
				<%- else %>
					<a href="/">Home</a>
				<%- end %>
				<!-- Error Messages -->
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<br/>
				<!-- Add an Article/Link link: -->
				<%= link_to "Add a New Article", new_link_path %>
				</br>
				</br>
				<%= yield %>
				<br/>
				<br/>

				<%# user is logged in, show log out link %>
				<% if current_user.present? %>
				<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
				<% else %>
				<%= link_to 'Sign In', new_user_session_path %> |
				<%= link_to 'Register Now', new_user_registration_path %>
				<% end %>
			</div>

		</div>
	</body>
</html>
